{# additional classes for the top navbar #}
{% set masthead_class = "navbar-dark bg-dark p-0" %}

{# site title that shows in the head html element at the end #}
{% set site_title = "Pagure" %}


{% macro head_imports() %}
<link rel="shortcut icon" type="image/vnd.microsoft.icon"
href="{{ url_for('theme.static', filename='favicon.ico')}}?version={{ g.version}}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.css')}}?version={{ g.version}}" />
<link href="{{ url_for('theme.static', filename='theme.css') }}?version={{ g.version}}" rel="stylesheet" type="text/css" />
{% endmacro %}

{% macro js_imports() %}
<script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.bundle.min.js')}}?version={{ g.version}}"></script>
{% endmacro %}

{% macro browseheader_message(select) %}
    {#
        message that shows at the top of the browse pages:
        'select' is the browse page. It can be either: 'projects',
        'users', or 'groups'.
    #}
    {% if select == 'projects' %}
    <div class="row justify-content-around">
    <div class="col-md-8">
        <div class="jumbotron bg-transparent m-0 py-4 text-center">
            <h1 class="display-5">Welcome to Pagure</h1>
            <p class="lead">Pagure is an Open Source software code hosting system.</p>
        </div>
    </div>
    </div>
    {% endif %}
{% endmacro %}

{% macro footer() %}
    <div class="footer py-3 bg-light border-top text-center">
        <div class="container">
            <p class="text-muted credit">
         Powered by
          <a href="https://pagure.io/pagure">Pagure</a>
          {{ g.version }}
            </p>
            <p>
              <a href="{{ url_for('ui_ns.ssh_hostkey') }}">SSH Hostkey/Fingerprint</a>
              | <a href="https://docs.pagure.org/pagure/usage/index.html">Documentation</a>
              | <a href="/about">About</a>
            </p>
            <p class="text-muted credit">&copy; 2014-2019 Red Hat, Inc. and others.</p>
        </div>
    </div>
{% endmacro %}

{% macro about_page() %}
  <div class="container mt-5">
    <h1>About</h1>
    <p>Welcome to this <a href="https://pagure.io/pagure">pagure</a> instance.</p>
    <p>
      For any issue, wish or security concern, feel free to
      <a href="https://pagure.io/pagure/issues">open a ticket</a> (please
      ensure the ticket is private if your concern is security-related).
    </p>
    <p>
      You may contact an administrator by emailing:
      <a href="mailto:{{ config['ADMIN_EMAIL'] }}">
        {{ config['ADMIN_EMAIL'] }}
      </a>.
    </p>
    <p>Learn more or keep in touch about pagure via our mailing lists:</p>
    <ul>
      <li>
        <a href="https://lists.pagure.io/admin/lists/pagure-announce.lists.pagure.io/">pagure-annouce</a>
      </li>
      <li>
        <a href="https://lists.pagure.io/admin/lists/pagure-devel.lists.pagure.io/">pagure-devel</a>
      </li>
    </ul>
    <p>
      <a href="https://pagure.io/pagure">pagure</a> is a free software licensed
      under the <a href="https://www.gnu.org/licenses/gpl-2.0.txt">
        GNU General Public License (GPL) v2
      </a> or any later versions.
    </p>
    <p>
      This program is distributed in the hope that it will be useful, but
      WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
      General Public License for details.
    </p>
  </div>
{% endmacro %}
